{% extends 'base.html.twig' %}

{% block body %}
    <div class="main mt-5">
        <div class="container text-center">
            <div class="introduction">
                <h2>Bienvenue {{ app.user.prenom }} dans le gestionnaire de bibliothèque</h2>
            </div>
        </div>
    </div>
{% endblock %}