{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <div class="container">
            <h1>Nouveau catalogue</h1>

            {{ include('catalogue/_form.html.twig') }}
        
            <a href="{{ path('catalogue_index') }}">
                <button class="btn btn-sm btn-secondary">Retour aux catalogues</button>
            </a>
    </div>
{% endblock %}
